.env
*#*
*.dat
*elc
*~
.DS_Store
.history
.lib
.newsrc-dribble
.nnmail-cache
.smex-items
.svn
/#.newsrc-dribble#
\#*
abbrev_defs
auto-save-list
backups/*
boot
custom.el
deps
elim/
image-dired/
loaddefs.el*
oddmuse/*
packs/template
places
sk-old
swank/*
target
thumbs/*
tmp/*
tramp
url/cookies
logs
.classpath
.project
.idea
.idea_modules
.settings
.cache
*.iml
*.patch
.ensime
.ensime_lucene/
.lein-repl-history
.java-version
.install.jre
production.properties
.ivy2
.sbt
bazooka-target
.bash_history
config/default
config/run_daemon_config
config/run_web_config
